* {
	box-sizing: border-box;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row::after {
    clear: both;
    content: "";
    display: table;
}

.container {
	width: 1200px;
    margin: 0 auto;
}

body {
    background-color: black;
}

.full-img {
    width: 100%;
    height: auto;
}

.category {
    width: 100%;
    height: auto;
}

.more {
    position: relative;
}

.more-text {
    position: absolute;
    top: 0px;
    right: 25px;
}

.up-article {
    background-color: white;
    padding: 5px;
}

.up-title {
    background-image: url("../image/h2-confidential-heading-bg.gif");
    color: white;
}

.title {
    font-weight: bold;
}

aside {
    padding-left: 20px;
}

.aside-text {
    margin-left: 15px;
}

.aside-button {
    background-color: blueviolet;
    color: white;
}

.top-3 {
    background-color: white;
}

.movie-review {
    background-color: white;
}

.down-category {
    background-image: url("../image/h2-top-movie-trailers-bg.gif");
    font-weight: bold;
    color: white;
}

.sub-down-category {
    background-image: url("../image/h3-movie-trailers-bg.gif");
}

.watch-now {
    text-decoration: none;
}

.select-movie {
    width: 200px;
}

.movie-review-title {
    font-weight: bold;
    color: blue;
}

.local {
    text-decoration: none;
    font-weight: bold;
}

.feature-list {
    color: white;
    margin-top: 20px;
    padding-bottom: 20px;
    border-top: 1px dotted white;
    padding-top: 5px;
}

.feature {
    float: left;
    width: 17%;
    text-align: center;
}

footer {
    background-color: white;
    text-align: center;
    padding: 30px;
}

footer a {
    text-decoration: none;
}

.copy {
    color: blue;
}
