* {
	box-sizing: border-box;
	margin: 0px;
	font-family: Verdana, "Arial", Helvetica, sans-serif;
	color: #595959;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row::after {
    clear: both;
    content: "";
    display: table;
}

.container {
	width: 960px;
	margin: 0 auto;
}

body {
	background-color: black;
	padding-top: 30px;
}

aside {
	background-color: #232326;
	padding-top: 90px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
}

.aside-img {
	padding-top: 30px;
	border-top: 1px solid darkgray;
	margin-bottom: 30px;
}

.title {
	color: white;
}

.more-info {
	margin-top: 30px;
}

.article {
	border-bottom: 1px solid darkgray;
}

.article-img {
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.content {
	margin: 20px;
}

.link-list {
	padding-bottom: 30px;
	border-bottom: 1px solid darkgray;
}

.link-list .row {
	margin-top: 30px;
}

.left {
	padding-right: 30px;
}
